doctype html
html
  head
    title random ava
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src='//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.11/seedrandom.min.js')
    
  body
    canvas#canvas(width='800', height='800')
    
    script(src='main.js')
