@import 'nib'
@import 'rupture'

// Reset
.no-background
  background none
.no-border
  border 0
.no-margin
  margin 0
.no-padding
  padding 0

// Font and Text
.font-normal
  font-style normal
.font-italic
  font-style italic
.uppercase
  text-transform uppercase
.lowercase
  text-transform lowercase
.capitalize
  text-transform capitalize
.text-left
  text-align left
.text-right
  text-align right
.text-center
  text-align center
.text-justify
  text-align justify

// Position
.relative
  position relative
.absolute
  position absolute
.static
  position static
.fixed
  position fixed

// Display
.none
  display none
.block
  display block
.inline-block
  display inline-block
.inline
  display inline